{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h1>Passer un ordre sur la valeur {{ order.action.nom }}</h1>
        {{ include('bourse/ordre/_form.html.twig', {form: form, button: 'Éditer'}) }}
    </div>

{% endblock %}